#### LIST ASSIGNMENT
#1 Write a Program to interchange first and last elements in a list
my_list = [5,10,15,20,25]

my_list[0], my_list[-1] = my_list[-1], my_list[0]

print("List after swapping first and last elements:", my_list)

In [17]:
#2 WAP to swap two elements in a list
a = [23, 65, 19, 90]

a[1], a[3] = a[3], a[1]

print(a)

[23, 90, 19, 65]

In [19]:
#3 WAP to swap elements in a string list

L1 = ['BANYAN', 'is',  'A', 'TREE']


print("The original list is : " + str(L1))


X = [sub.replace('B', '-').replace('I', 'B').replace('-', 'R') for sub in L1]


print ("List after performing character swaps : " + str(X))

The original list is : ['BANYAN', 'is', 'A', 'TREE']
List after performing character swaps : ['RANYAN', 'is', 'A', 'TREE']

In [23]:
#4 Ways to find length of a list
 #using LEN()
a = ["drishti","banana"]
length = len(a)
print(length)

2

In [25]:
#using LOOP
a = [10,20,30,40,50]

count = 0

for val in a:
  
    
    count += 1

print(count)

5

In [35]:
#Using length_hint()

from operator import length_hint

a = [1, 2, 3, 4, 5]
length = length_hint(a)
print(length)

5

In [43]:
#5 Maximum of 2 numbers in python 
def maximum(x,y):
    
    if x >= y:
        return x
    else:
        return y
    

x = 45
y = 40
print(maximum(x,y))

45

In [41]:
#6 Minimum of 2 numbers in python
def minimum(a, b):
     
    if a <= b:
        return a
    else:
        return b
     
# Driver code
a = 5
b = 8
print(minimum(a, b))

5

In [45]:
#7 ways to check if element exists in a list
a = [50,45,87,22]

if 87 in a:
    print("Element exists in the list")
else:
    print("Element does not exist")

Element exists in the list

In [47]:
#8 different ways to clear a list in python 
 #Clear a List using Python List clear()
l1 = [5,0,6,7]
print('l1 before clear:', l1)

l1.clear()
print('l1 after clear:', l1)

l1 before clear: [5, 0, 6, 7]
l1 after clear: []

In [49]:
#Clear a List by Reinitializing the List
l2 = [10,20,30]

print("l2 before deleting is : "
      + str(l2))

l2 = []

print("L2 after clearing using reinitialization : "
      + str(l2))

l2 before deleting is : [10, 20, 30]
L2 after clearing using reinitialization : []

In [53]:
#Clearing a Python List Using “*= 0”

l3 = [66,77,88]

print("l3 before clearing is : "
      + str(l3))

l3*=0

print("l3 after clearing using *=0 : "
      + str(l3))

l3 before clearing is : [66, 77, 88]
l3 after clearing using *=0 : []

In [57]:
#Clearing a List Using del
l1 = [5,0,6,7]
l2 = [10,20,30]


print("l1 before deleting is : " + str(l1))


del l1[:]
print("l1 after clearing using del : " + str(l1))



print("l2 before deleting is : " + str(l2))


del l2[:]
print("l2 after clearing using del : " + str(l2))

l1 before deleting is : [5, 0, 6, 7]
l1 after clearing using del : []
l2 before deleting is : [10, 20, 30]
l2 after clearing using del : []

In [59]:
#Python pop() method To Clear a List
list1 = [55,66,77]


print("List1 before deleting is : " + str(list1))

# deleting list1
while(len(list1) != 0):
    list1.pop()
print("List1 after clearing using del : " + str(list1))

List1 before deleting is : [55, 66, 77]
List1 after clearing using del : []

In [61]:
#Clear a List using Slicing

a = [55,77,88]

print("List before clearing: ",a)

a = a[:0]
print("List after clearing using Slicing: ",a)

List before clearing:  [55, 77, 88]
List after clearing using Slicing:  []

In [63]:
#Clear a list using list comprehension method
def clear_list(a):
    a = [item for item in a if False]
    return a

input_list = [2, 3, 5, 6, 7]
output = clear_list(input_list)
print(output)

[]

In [65]:
#9 WAP TO REVERSE A LIST
a = [1, 2, 3, 4, 5]

# Reverse the list in-place
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [67]:
#10 CLONING OR COPYING A LIST
def Cloning(a):
    a_copy = a[:]
    return a_copy
 
 
# Driver Code
a = [4, 8, 2, 10, 15, 18]
li2 = Cloning(a)
print("Original List:", a)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [69]:
#11 counnt occurrences  of an element in a list 
a = [50,55,63,50,50,85,96,50]

print(a.count(50))

print(a.count(96))

4
1

In [73]:
#12 WAP to find sum and average of a list in python 
L = [5,7,8,6]

count = 0
 
for i in L:
    count += i
 

avg = count/len(L)
 
print("sum = ", count)
print("average = ", avg)

sum =  26
average =  6.5

In [81]:
#13 sum of number of digits in a list
l1 = [1005,889,55,66]

print("The original list is : " + str(l1))

a = []
for ele in l1:
    sum = 0
    for digit in str(ele):
        sum += int(digit)
    a.append(sum)
    

print ("List Integer Summation : " + str(a))

The original list is : [1005, 889, 55, 66]
List Integer Summation : [6, 25, 10, 12]

In [9]:
#14 Multiply all the numbers in a list
a = [5,6,9]
x = 1

for val in a:
    x = x * val
    
print(x)

270

In [11]:
#15 WAP to find smallest number in the list
x = [10,20,30,40]

smallest = min(x)
print(smallest)

10

In [13]:
#16 WAP to find the largest number in the list
a = [1000,500,600,822]

largest = max(a)
print(largest)

1000

In [17]:
#17 program to find second largest number in a list 

numbers = [10, 20, 4, 45, 99]
second_largest = find_second_largest(numbers)
print("The second largest number is:", second_largest)

The second largest number is: 45

In [20]:
#18 program to print even numbers in a list
a = [10,55,66,85,24,20]

result = [val for val in a if val % 2 == 0]
print(result)

[10, 66, 24, 20]

In [22]:
#19 program to print odd numbers in a list
l1 = [10,55,66,99]
for num in l1:
    if num % 2 != 0:
       print(num, end=" ")

55 99

In [24]:
#20 program to print all even numbers in a list 
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))
 
for num in range(start, end + 1):
    if num % 2 == 0:
        print(num, end=" ")

Enter the start of range:  5
Enter the end of range:  55

6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54

In [26]:
#21 program to print all odd numbers in a list 
x = [i for i in range(4, 55 + 1) if i % 2 != 0]
print(*x)

5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55

In [28]:
#22 program to count even and odd numbers in a list
l1 = [10,20,30,55,66]
 
even_count, odd_count = 0, 0
 
for num in l1:
    if num % 2 == 0:
        even_count += 1
 
    else:
        odd_count += 1
 
print("Even numbers in the list: ", even_count)
print("Odd numbers in the list: ", odd_count)

Even numbers in the list:  4
Odd numbers in the list:  1

In [32]:
#23 program to print positive numbers in a list
x = [36, -21, 0, 85, 65, -93]

for num in x:
    if num >= 0:
        print(num, end=" ")

36 0 85 65

In [44]:
#24 program to print negative numbers in a list
list1 = [-10, 21, -4, -45, -66, 93]
num = 0
while(num < len(list1)):
    
    if list1[num] < 0:
        print(list1[num], end=" ")
 
    
    num += 1

-10 -4 -45 -66

In [46]:
#25 program to print all positive numbers in a range 
start, end = -40, 90
  
for num in range(start, end + 1): 
  
    if num >= 0: 
        print(num, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90

In [48]:
#26 program to print all negative numbers in a range 
def negativenumbers(a,b): 
  out=[i for i in range(a,b+1) if i<0] 
  print(*out) 
a=-4
 
b=5
negativenumbers(a,b)

-4 -3 -2 -1

In [50]:
#27 program to count positive and negative numbers in a list 
list1 = [10,-16,90,-88,-77]
 
pos_count, neg_count = 0, 0
 
for num in list1:
    if num >= 0:
        pos_count += 1
 
    else:
        neg_count += 1
 
print("Positive numbers in the list: ", pos_count)
print("Negative numbers in the list: ", neg_count)

Positive numbers in the list:  2
Negative numbers in the list:  3

In [52]:
#28 remove multiple elements in a list in python
n1 = [10,20,30,40,50]
to_remove = [30,40,50]

for item in to_remove:
    if item in numbers:
        numbers.remove(item)

print(numbers)

[10, 20, 4, 45, 99]

In [54]:
#29 remove empty tuples from a list
def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples
 
tuples = [(), ('gian','25','5'), (), ('rahul', 'geeta'), 
          ('krishna', 'akbar', '45'), ('',''),()]
print(Remove(tuples))

[('gian', '25', '5'), ('rahul', 'geeta'), ('krishna', 'akbar', '45'), ('', '')]

In [58]:
#30 program to print duplicates from a list of integers
l1 = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
 
uniqueList = []
duplicateList = []
 
for i in l1:
    if i not in uniqueList:
        uniqueList.append(i)
    elif i not in duplicateList:
        duplicateList.append(i)
 
print(duplicateList)

[1, 2, 5, 9]