# **STARTING PYTHON**

In [ ]:
# First output

In [ ]:
print("Hello brother")

Hello brother

In [ ]:
# This is an addition program.

In [ ]:
x= 5
y= 6
c= x+y
print(c)

11

In [ ]:
# This is a subtraction program

In [ ]:
x= 15
y= 6
c= x-y
print(c)

9

In [ ]:
# This is a modulus program

In [ ]:
x= 234
y= 10
c= x%y
print(c)

4

In [ ]:
# This is a multiplication program

In [ ]:
x=118
y=11
c=x*y
print(c)

1298

In [ ]:
# This is a division program

In [ ]:
x=234
y=10
c=x//y
print(c)

23

In [ ]:
# This is an indentataion error. In python we have to give spaces at least one space before the print function.

In [ ]:
if 5>2:
 print("five is reater than two")                                   #if we don't give indentation before it dosen't print the output

five is reater than two

In [ ]:
# This is indentation. Indentation is only used in conditions.

In [ ]:
if 5>2:
  print("five is reater than two")

five is reater than two

In [ ]:
# This is a wrong syntax error. Beacause python habve some in-build functions & is case sensitive.

In [ ]:
PRINT("hello world")                                                              #We can't use keyword and in-build python functions as a variable

NameError: name 'PRINT' is not defined

DATA TYPES

In [ ]:
# Integer data type

In [ ]:
x=int(1)
print(x)

1

In [ ]:
# Float to integer

In [ ]:
y=int(2.08)
print(y)

2

In [ ]:
# String to int

In [ ]:
z=int("3")
print(z)

3

In [ ]:
# Conversion in float

In [ ]:
a=float("5")
b=float(2.8)
c=float("3")
x=float("4.2")
print(a,b,c,x)

5.0 2.8 3.0 4.2

**ARITHEMATIC FUNCTION**

In [ ]:
# Modulus function. It always gives remainder

In [ ]:
x=15
y=3
print(x%y)

0

In [ ]:
# Division function. It always gives quotient with decimal

In [ ]:
a=15
b=3
print(a/b)

5.0

In [ ]:
# Modulus

In [ ]:
x=225
y=31
print(x%b)

0

In [ ]:
# Floor division function. It always gives remainder without decimal.

In [ ]:
a=126
b=7
print(a//b)

18

In [ ]:
# Exponetion function. It shows the power of variable which is given.

In [ ]:
x=560
y=39
print(x*y)

21840

# **List**

In [ ]:
# List is always created in square bracket. List can be of any data type.It allows duplicate values

In [ ]:
l1=["apple","banana","grapes"]
print(l1)

['apple', 'banana', 'grapes']

In [ ]:
l2=[12,34,56,89,98]
print(l2)

[12, 34, 56, 89, 98]

In [ ]:
# In list we can store any data type.

In [ ]:
l3=[12,"rahul","mahesh",45,45]
print(l3)

[12, 'rahul', 'mahesh', 45, 45]

In [ ]:
# Replacing item in list with index number.

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List[2]="naina"
print(List)

['apple', 'kakul', 'naina', 'Nihal', 'Sohan']

In [ ]:
# Index replacing in list.

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List[:1]="naina","piyush","sumit","ayush"
print(List)

['naina', 'piyush', 'sumit', 'ayush', 'kakul', 'Shivam', 'Nihal', 'Sohan']

In [ ]:
# Replacing number with string

In [ ]:
List4=[1,2,3,4,6]
List4[2]="A"
print(List4)

[1, 2, 'A', 4, 6]

In [ ]:
# Replacing one value with multiple value through indexing

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List[1:2]="naina","piyush","sumit","ayush"
print(List)

['apple', 'naina', 'piyush', 'sumit', 'ayush', 'Shivam', 'Nihal', 'Sohan']

In [ ]:
# Adding one list to another

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
assume=["aspirant","tshul"]
List.extend(assume)
print(List)

['apple', 'kakul', 'Shivam', 'Nihal', 'Sohan', 'aspirant', 'tshul']

In [ ]:
# Adding item in the inserted index without removing it by swithing it's position

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List.insert(1,"aman")
print(List)

['apple', 'aman', 'kakul', 'Shivam', 'Nihal', 'Sohan']

In [ ]:
# Adding item at the end of the list

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List.append("aman")
print(List)

['apple', 'kakul', 'Shivam', 'Nihal', 'Sohan', 'aman']

In [ ]:
# Removing item from list with giving its details

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List.remove("Sohan")
print(List)

['apple', 'kakul', 'Shivam', 'Nihal']

In [ ]:
# Removing item from ist with it's index no

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List.pop(3)
print(List)

['apple', 'kakul', 'Shivam', 'Sohan']

In [ ]:
# Deleting list

In [ ]:
Toman=["Micky","Baji","Pachin","Takemitchi","Kazutora"]
del Toman[4]
print(Toman)

['Micky', 'Baji', 'Pachin', 'Takemitchi']

In [ ]:
# Deleting list but it shows empty list

In [ ]:
List=["apple","kakul","Shivam","Nihal","Sohan"]
List.clear()
print(List)

[]

In [ ]:
# Arranging list in order

In [ ]:
List=[1,4,3,9,2,6]
List.sort()
print(List)

[1, 2, 3, 4, 6, 9]

In [ ]:
# Arranging list in reverse order

In [ ]:
List=[1,4,3,9,2,6]
List.sort(reverse= True)
print(List)

[9, 6, 4, 3, 2, 1]

In [ ]:
# Copying list in another

In [ ]:
List=[1,4,3,9,2,6]
L2=List.copy()
print(L2)

[1, 4, 3, 9, 2, 6]

In [ ]:
# Copying list in another list

In [ ]:
L1=[1,4,3,9,2,6]
l3=list(L1)
print(l3)

[1, 4, 3, 9, 2, 6]

In [ ]:
# Copying list with indexing

In [ ]:
L7=[1,4,3,9,2,6]
L5=L7[:]
print(L5)

[1, 4, 3, 9, 2, 6]

In [ ]:
# Creating a new list with adding two different list

In [ ]:
List=[1,4,3,9,2,6]
L2=[5,8,9,4]
List3=List+L2
print(List3)

[1, 4, 3, 9, 2, 6, 5, 8, 9, 4]

In [ ]:
# Adding two list

In [ ]:
List=[1,4,3,9,2,6]
L2=[5,8,9,4]
List.extend(L2)
print(List)

[1, 4, 3, 9, 2, 6, 5, 8, 9, 4]

In [ ]:
# Count no of elemts present in the list of asking data

In [ ]:
List=[1,4,3,9,2,2,2,2,2,6]
y=List.count(2)
print(y)

5

In [ ]:
# Indexing the list item

In [ ]:
List=[1,4,3,9,2,6]
z=List.index(2)
print(z)

4

In [ ]:
List=[1,4,3,2,9,2,6]
z=List.index(2)
print(z)

3

# **TUPLE**

In [ ]:
# Tuple is always created in parenthesis bracket

In [ ]:
T1=(1,2,3,4,5)
print(type(T1))

<class 'tuple'>

In [ ]:
T2=("A","B","C","D")
print(T2)

('A', 'B', 'C', 'D')

In [ ]:
T=(1,2,"A","B")
print(T)

(1, 2, 'A', 'B')

In [ ]:
# Type of the variable

In [ ]:
T=(1,2,"A","B")
print(type(T))

<class 'tuple'>

In [ ]:
# Length of tuple

In [ ]:
T=(1,2,"A","B")
print(len(T))

4

In [ ]:
T=(1,2,2,2,"A","B")
print(type(T))

<class 'tuple'>

In [ ]:
T=(1,)
print(type(T))

<class 'tuple'>

In [ ]:
#Accessing tuple

In [ ]:
T=(1,2,"A","B")
print(T[2:])

('A', 'B')

In [ ]:
T=(1,2,"A","B")
print(T[:4])

(1, 2, 'A', 'B')

In [ ]:
T=(1,2,"A","B")

print(T[2:4])

('A', 'B')

In [ ]:
T=(1,2,"A","B")
print(T[-4:])

(1, 2, 'A', 'B')

In [ ]:
# Changing in tuple

In [ ]:
T=(1,2,"A","B")                                      # As we know it is immutable so we use a method
L=list(T)                                            # We change it to list
L[2]="aman"                                          # Them imsert item
T=tuple(L)                                           # Then again change it to tuple and then print
print(T)                                              # as we want tuple is change without any error

(1, 2, 'aman', 'B')

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
Low=list(Team)
Low[4]="aman"
Team=tuple(Low)
print(Team)

(1, 2, 'Ayush', 'abhishek', 'aman')

In [ ]:
# Appending tuple

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
Low=list(Team)
Low.append("aman")
Team=tuple(Low)
print(Team)

(1, 2, 'Ayush', 'abhishek', 'B', 'aman')

In [ ]:
# Inserting tuple

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
Low=list(Team)
Low.insert(3,"aman")
Team=tuple(Low)
print(Team)

(1, 2, 'Ayush', 'aman', 'abhishek', 'B')

In [ ]:
# Extending tuple

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
Low=list(Team)
Low2=["aman",766]
Low.extend(Low2)
Team=tuple(Low)
print(Team)

(1, 2, 'Ayush', 'abhishek', 'B', 'aman', 766)

In [ ]:
# Adding tuple to tuple

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
Low=(2,8)
Team+=Low
print(Team)

(1, 2, 'Ayush', 'abhishek', 'B', 2, 8)

In [ ]:
#remove any item from tuple

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
Low=list(Team)
Low.remove(2)
Team=tuple(Low)
print(Team)

(1, 'Ayush', 'abhishek', 'B')

In [ ]:
#deleting tuple

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
del Team

In [ ]:
#Multiplyingg tuple

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
x= Team*2
print(x)

(1, 2, 'Ayush', 'abhishek', 'B', 1, 2, 'Ayush', 'abhishek', 'B')

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
print(Team*2)

(1, 2, 'Ayush', 'abhishek', 'B', 1, 2, 'Ayush', 'abhishek', 'B')

In [ ]:
Team=(1,2,"Ayush","abhishek",2,2,2,2,"B")
z=Team.count(2)
print(z)

5

In [ ]:
Team=(1,2,"Ayush","abhishek","B")
w=Team.index(2)
print(w)

1

In [ ]:
Team=(1,2,"Ayush","abhishek",2,2,2,2,"B")
c=Team.index("B")
print(c)

8

# **Starting string**

In [ ]:
# Starting string

In [ ]:
x= ('hello world')
print(x)

hello world

In [ ]:
x= ('hello world')
print(len(x))

11

In [ ]:
# Multiline string

In [ ]:
r=('''hello moto
ecivjknfv
njnjvnjvnfjv''')
print(r)

hello moto
ecivjknfv
njnjvnjvnfjv

In [ ]:
x= ('hello world')
print(x[5])

In [ ]:
x= ('hello world')
print(x[6])

w

In [ ]:
#searching elements in string

In [ ]:
x= ('hello world')
print("o" in x)

True

In [ ]:
x= ('hello world')
print(x['r'in x])

e

In [ ]:
# ranging

In [ ]:
x= ('hello world')
print(x[:5])

hello

In [ ]:
x= ('hello world')
print(x[:-5])

hello

In [ ]:
x= ('hello world')
print(x[-5:])

world

In [ ]:
# Upper case

In [ ]:
x= ('hello world')
print(x.upper())

HELLO WORLD

In [ ]:
#Lower case

In [ ]:
x= ('HELLO world')
print(x.lower())

hello world

In [ ]:
# Removing space in string

In [ ]:
x= '   hello world   '
x.strip()

'hello world'

In [ ]:
# Split string if there is comma btween elements

In [ ]:
x= ('hello, world')
x.split(",")

['hello', ' world']

In [ ]:
# Replacing string

In [ ]:
x= ('hello world')
print(x.replace("h","ch"))

chello world

In [ ]:
#Concatinating

In [ ]:
x= "hello world"
c="hsjddfj"
z= x + c
print(z)                                                     # as we can see it taking both context in one line

hello worldhsjddfj

In [ ]:
x= "hello"
w= "world"
v= x +" " + w
print(v)

hello world

In [ ]:
# Can't add int in string

In [ ]:
x= 14
he= "My name is aakash" + x
print(he)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# For adding int in string we use some methods

In [ ]:
x= "14"
he= "My name is aakash" + x
print(he)

My name is aakash14

In [ ]:
x= 14
he= f"My name is aakash , I am {x}"
print(he)

My name is aakash , I am 14

In [ ]:
x= 13
shop= f"the {x} is dollars"
print(shop)

the 13 is dollars

In [ ]:
# For adding float value

In [ ]:
x= 13
shop= f"the {x:.3f} is dollars"
print(shop)

the 13.000 is dollars

In [ ]:
price = f"I have nO of {30*1:.4f} medals "
print(price)

I have nO of 30.0000 medals

In [ ]:
# Capitalize first word of the sentence while all the others get small

In [ ]:
x= ('hello world')
print(x.capitalize())

Hello world

In [ ]:
# Title capital the first & last letter in a sentence

In [ ]:
x= ('hello world')
print(x.title())

Hello World

In [ ]:
# Count will count how many times that element comes

In [ ]:
x= ('hello world')
print(x.count("o"))

2

In [ ]:
# Count elements in range

In [ ]:
x= ('hello obama world')
print(x.count("o",2,15))

3

In [ ]:
# Find method show the imdex of the first word of the elment

In [ ]:
x= ('hello world')
print(x.find("orld"))

7

In [ ]:
#If element is mnot present so it show -1

In [ ]:
x= ('hello world')
print(x.find("You"))

-1

In [ ]:
x= ('hello world')
print(x.find("o"))

4

In [ ]:
x= ('hello world')
print(x.find("o",2,8))

4

In [ ]:
x= ('hello world')
print(x.index("world"))

6

In [ ]:
# In index if element not present it gives error

In [ ]:
x= ('hello world')
print(x.index("You"))

ValueError: substring not found

In [ ]:
x= ('hello world')
print(x.find("You"))
print(x.index("You"))

-1

ValueError: substring not found

In [ ]:
# Using join method

In [ ]:
e= ('a','b','c')
w= '#'.join(e)
print(w)

a#b#c

In [ ]:
# Using partition method seperate all words before and after

In [ ]:
e= (" aman is a good boy ")
w= e.partition("is")
print(w)

(' aman ', 'is', ' a good boy ')

In [ ]:
#Split function split every word

In [ ]:
e= ("aman is a good boy")
w= e.split()
print(w)

['aman', 'is', 'a', 'good', 'boy']

In [ ]:
e= ("aman is a good boy")
w= e.split("is")
print(w)

['aman ', ' a good boy']

In [ ]:
e= ("aman is a good boy")
w= e.split("#")
print(w)

['aman is a good boy']

In [ ]:
e= ("aman is a good boy")
w= e.center(80)
print(w)

                               aman is a good boy

In [ ]:
e= ("aman is a good boy")
w= e.center(20,'a')
print(w)

aaman is a good boya

In [ ]:
x= ('hello world')
w= x.center(20,'o')
print(w)

oooohello worldooooo

# Starting set.

In [ ]:
#Sets are unordered.

In [ ]:
x= {'hello world'}
print(x)

{'hello world'}

In [ ]:
x= {'hello world',2,"sfsd",True,43}
print(x)

{True, 2, 'sfsd', 'hello world', 43}

In [ ]:
x= {'hello','world'}
print('hello' in x)

True

In [ ]:
x= {'hello world'}
print('hello' in  x)

False

In [ ]:
x= {'hello','world'}
print('lello'not in  x)

True

In [ ]:
x= {'hello','world'}
x.add("aman")
print(x)

{'hello', 'aman', 'world'}

In [ ]:
x= {'hello','world'}
y={"aman"}
x.update(y)
print(x)

{'hello', 'aman', 'world'}

In [ ]:
x= {'hello','world'}
y=["aman"]
x.update(y)
print(x)

{'hello', 'aman', 'world'}

In [ ]:
x= {'hello','world','aman'}
x.remove("aman")
print(x)

{'hello', 'world'}

In [ ]:
x= {'hello','world','aman'}
x.discard(3)
print(x)

{'hello', 'aman', 'world'}

In [ ]:
#In set pop method removes any item from set

In [ ]:
x= {'hello','world','aman'}
x.pop()
print(x)

{'aman', 'world'}

In [ ]:
#Joining sets with union method

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
Gang= gang1|gang2
print(Gang)

{'Kanto', 'Tenjiku', 'Bonten', 'valhalla', 'Toamn'}

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
Gang3={"Brahman"}
Titans=gang1|gang2|Gang3
print(Titans)

{'Kanto', 'Tenjiku', 'Brahman', 'Bonten', 'valhalla', 'Toamn'}

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
Gang= gang1.union(gang2)
print(Gang)

{'Kanto', 'Tenjiku', 'Bonten', 'valhalla', 'Toamn'}

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
gang1.update(gang2)
print(gang1)

{'Kanto', 'Tenjiku', 'Bonten', 'valhalla', 'Toamn'}

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
Gang= gang1.intersection(gang2)
print(Gang)

set()

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
Gang= gang1&gang2
print(Gang)

set()

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
Gang= gang1.difference(gang2)
print(Gang)

{'Tenjiku', 'valhalla', 'Toamn'}

In [ ]:
# Always subtract first set to second set

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto"}
Gang= gang2.difference(gang1)
print(Gang)

{'Bonten', 'Kanto'}

In [ ]:
#In difference it always take 1st set

In [ ]:
gang1={"Toamn","valhalla","Tenjiku"}
gang2={"Bonten","Kanto","Toamn"}
Gang= gang1.difference(gang2)
print(Gang)

{'Tenjiku', 'valhalla'}

# Dictionary

It is always in ordered and chanagable

In [ ]:
# Dictionary is ordered and changable but doesn't allow duplicates

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
print(TOMAN)

{'MICKY': 'LEADER', 'KEN-CHIN': 'PRESIDENT', 'BAJI': '1ST-DIVISION'}

In [ ]:
# Finding with value

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
print(TOMAN["MICKY"])

LEADER

In [ ]:
# Finding length of dictionary

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
print(len(TOMAN))

3

In [ ]:
# Finding data type

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
print(type(TOMAN))

<class 'dict'>

In [ ]:
# Duplicate keys it always consider the latest one

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION","BAJI":"vice"}
print(TOMAN)

{'MICKY': 'LEADER', 'KEN-CHIN': 'PRESIDENT', 'BAJI': 'vice'}

In [ ]:
# For accessing dict items in other variable

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
z=TOMAN.get("MICKY")
print(z)

LEADER

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
z=TOMAN.get("BAJI")
print(z)

1ST-DIVISION

In [ ]:
# It shows all the kyes of items in dictionary

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
print(TOMAN.keys())

dict_keys(['MICKY', 'KEN-CHIN', 'BAJI'])

In [ ]:
# It shows all the values of the dictionary

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
print(TOMAN.values())

dict_values(['LEADER', 'PRESIDENT', '1ST-DIVISION'])

In [ ]:
#For updating item key

In [ ]:
TOMAN={"MICKY":"LEADER","KEN-CHIN":"PRESIDENT","BAJI":"1ST-DIVISION"}
TOMAN["KEN-CHIN"]="VICE-PRESIDENT"
print(TOMAN)

{'MICKY': 'LEADER', 'KEN-CHIN': 'VICE-PRESIDENT', 'BAJI': '1ST-DIVISION'}

In [ ]:
#For adding item in dictionary

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision"}
toman["takemitchy"]="deputy-leader"
print(toman)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision', 'takemitchy': 'deputy-leader'}

In [ ]:
#Dictionary can have any type of data type

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
print(toman)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision', 'age': [15, 19, 18, 17]}

In [ ]:
#It updates the item key

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
toman.update({"ken-chin":"vice-persident"})
print(toman)

{'micky': 'leader', 'ken-chin': 'vice-persident', 'baji': '1st-devvision', 'age': [15, 19, 18, 17]}

In [ ]:
#It can also add item in dictionary

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
toman.update({"takemitchy":"deputy-leader"})
print(toman)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision', 'age': [15, 19, 18, 17], 'takemitchy': 'deputy-leader'}

In [ ]:
#It removes the item which e have specified

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
toman.pop("ken-chin")
print(toman)

{'micky': 'leader', 'baji': '1st-devvision', 'age': [15, 19, 18, 17]}

In [ ]:
#It removes last item from the dictionary

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
toman.popitem()
print(toman)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision'}

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
del toman["micky"]
print(toman)

{'ken-chin': 'president', 'baji': '1st-devvision', 'age': [15, 19, 18, 17]}

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
toman.update({"chifuyu":"vive-1st devision"})
print(toman)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision', 'age': [15, 19, 18, 17], 'chifuyu': 'vive-1st devision'}

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
del toman
print(toman)

NameError: name 'toman' is not defined

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
toman.clear()
print(toman)

{}

In [ ]:
d3={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
d4=d3
print(d4)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision', 'age': [15, 19, 18, 17]}

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
kanto=toman.copy()
print(kanto)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision', 'age': [15, 19, 18, 17]}

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17],}
d4=dict(d3)
print(d4)

{'micky': 'leader', 'ken-chin': 'president', 'baji': '1st-devvision', 'age': [15, 19, 18, 17]}

In [ ]:
#Nested Dictionary

In [ ]:
toman={"micky":{ "Gang":"Toman","Post":"Leader"},
       "ken-chin":{"Gang":"Toman","Post":"1st-devvision"},
       "Baji":{"Gang":"Toman","Post":"1st-devision"}}
print(toman)

{'micky': {'Gang': 'Toman', 'Post': 'Leader'}, 'ken-chin': {'Gang': 'Toman', 'Post': '1st-devvision'}, 'Baji': {'Gang': 'Toman', 'Post': '1st-devision'}}

In [ ]:
toman={"micky":{ "Gang":"Toman","Post":"Leader"},
       "ken-chin":{"Gang":"Toman","Post":"1st-devvision"},
       "Baji":{"Gang":"Toman","Post":"1st-devision"}}
print(toman["ken-chin"]["Post"])

1st-devvision

# **If,else and elif statements**
These statements are known as conditional statements cause they are used as a condition either it is true print this either it is false or any other condition so print this.

In [ ]:
a=24
b=32
if a<b:
  print("a is less than b")

a is less than b

In [ ]:
a=34
b=54
if a>b:
  print("a is greater then b")

In [ ]:
a=343248
b=45323
if a>b:
  print("a is greater then b")

a is greater then b

In [ ]:
t=5353465
h=5443433
if h>t:
  print("Yummy")

Yummy

In [ ]:
a=23
if a>=20:
  print("You are not eligible")

You are not eligible

In [ ]:
age=23
if age<=20:
  print("You are an adult")

In [ ]:
a="boy"
if a=="boy":
  print("You are not eligible")

You are not eligible

In [ ]:
a=2
if a>=20:
   print("You are not eligible")
elif a<20:
   print("You are eligible")

You are eligible

In [ ]:
a=23
s=32
if a>=20 and s>=30:
  print("You are not eligible")

You are not eligible

In [ ]:
a=23
s=32
if a>=20 and s>=40:
  print("You are not eligible")

In [ ]:
a=23
s=4
if a>=20 and s<=30:
  print("You are not eligible")

You are not eligible

In [ ]:
a=24
b=32
if a!=b:
  print("a is less than b")

a is less than b

In [ ]:
a=24
b=32
if a>=b:
  print("asdshij")

In [ ]:
a=2
if a>=20:
   print("You are not eligible")
elif a>=23:
   print("You are eligible")
else :
  print("your welcome baby")

your welcome baby

In [ ]:
x=122
if x%2==0:
  print("it's even")
else:
  print("its odd")

it's even

In [ ]:
x=123
if x%2==0:
  print("it's even")
else:
  print("its odd")

its odd

In [ ]:
x=1
if x%2==0:
  print("it's even")
else:
  print("its odd")

its odd

In [ ]:
x=12.09
if x%2==0:
  print("it's even")
else:
  print("its odd")

its odd

In [ ]:
x=9
if x%2==0:
  print("Ya even hai ")
else:
  print("Ya odd hai")

Ya odd hai

In [ ]:
x= 50
if x>40:
  print("a")
elif x>30:
  print("B")
elif x>20:
  print("C")
else:
  print("Fail")

a

In [ ]:
x= 19
if x>40:
  print("Good bache")
elif x>30:
  print("Badiya")
elif x==(20.5 or 21):
  print("baal baal bacha")
elif x>20:
  print("Chl bach gya")
else:
  print("Fail hai tu")

Fail hai tu

In [ ]:


x=125
if x%2==0:
  print("it's even")
else:
  print("its odd")

its odd

In [ ]:
x=123.345
if x%2==0:
  print("it's even")
else:
  print("its odd")

its odd

In [ ]:
a=2
b=57
if a>=1:
   print("You are not eligible")
elif b>=23:
   print("You are eligible")
else :
  print("your welcome baby")

You are not eligible

In [ ]:
x=2019
if x%4==0:
  print("it's leap")
else:
  print("its normal")

its normal

In [ ]:
x=300
if (x%4==0 and x%100!=0) or( x%400!=0 ):
  print("it's leap")
else:
  print("its normal")

it's leap

In [ ]:
x=input("Enter your name")
print("hello",x)

Enter your name5
hello 5

In [ ]:
x=int(input("Enter year "))
if (x%4==0 and x%100!=0) or( x%400==0 ):
  print("it's leap")
else:
  print("its normal")

Enter year 7
its normal

# Loops

# **For loop**

In [ ]:
# For loop
# It is used to iterate over a sequence (like a list, tuple, or string ) or other iterable objects. Iterating over a sequence means going through each element one by one

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17]}
for toman in toman:
  print(toman)

micky
ken-chin
baji
age

In [ ]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","takemitchy":"vice-leader"}
for toman in toman:
  print(toman)

micky
ken-chin
baji
takemitchy

In [ ]:
toman=("micky","ken-chin","baji","takemitchy")
for toman in toman:
  print(toman)

micky
ken-chin
baji
takemitchy

Range function returns the sequence of numbers we input on it. Range function helps in loop so we don't have to write the no we want to iterate or any iterating condition we just give range
and it will automaticaly iterate on that input sequence

In [ ]:
for x in range(20):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for Characters in "Toman":
  print(Characters)

T
o
m
a
n

In [ ]:
#print square of all numbers in a list
x=[1,2,3,4,5]
y=0
for x in x:
  y+=x
print("Sum of  no's square is",y**2)

Sum of  no's square is 225

In [ ]:
x=[21,33,32,2332,2332,3223]
for i in x:
  print("the square is ",i, "is" , i**2)

the square is  21 is 441
the square is  33 is 1089
the square is  32 is 1024
the square is  2332 is 5438224
the square is  2332 is 5438224
the square is  3223 is 10387729

In [ ]:

# Print square of numbers in the list
x=[11,22,33,44,55]
for x in x:
    print("Square of no ",x," is", x**2)

Square of no  11  is 121
Square of no  22  is 484
Square of no  33  is 1089
Square of no  44  is 1936
Square of no  55  is 3025

For loop with if,elif and else.

In [ ]:
x=20
for x in range(0,20):
  if x%2==0:
    print("Awesome buddy",x+5)
  elif x%3==0:
    print("Good luck",x+2)
  else:
    print("Nothing",x+5,)

Awesome buddy 5
Nothing 6
Awesome buddy 7
Good luck 5
Awesome buddy 9
Nothing 10
Awesome buddy 11
Nothing 12
Awesome buddy 13
Good luck 11
Awesome buddy 15
Nothing 16
Awesome buddy 17
Nothing 18
Awesome buddy 19
Good luck 17
Awesome buddy 21
Nothing 22
Awesome buddy 23
Nothing 24

In [ ]:
#To find smallest no

In [ ]:
x=[1,2,4535,67,43534]
y=0
z=''
for z in x:
  y=x.sort( reverse= True)
  y=z
  if y<z:
    pass
print("the no is " ,y)

the no is  1

In [ ]:
x=[11,287,63,84,4,5]
y=0
for i in x:
  y=x.sort(reverse=True)
  y=i
  if y<i:
     pass
print(y)

4

In [ ]:
x=[4,234,23,433,324]
y=0
z=''
for i in x:
  y=x.sort(reverse=True)
  y=i
  if y<i:
    pass
print(y)

4

In [ ]:
x=[4,234,23,433,324]
y=0
for i in x:
  y=x.sort()
  y=i
  if y<i:
    pass
print(y)

433

In [ ]:
X=[1,2,3,12,4,5,6,7,20,8,9,10]
max=X[0]
for x in X:
  if x>max:
    max=x
print(max)

20

In [ ]:
x=[233,334,32,23432,3423,3,4,3432]
c=x[0]
for i in x:
  if i>c:
    c=i
print(c)

23432

In [ ]:
#Position of the number
x=[1,323,4534,234,453,5546,46,43,6,3,4,123,]
z=5546
m=0
for y in x:
 if (y==z):
   print("Jo number hai na vo hai", m,"position mai")
 m+=1

Jo number hai na vo hai 5 position mai

In [ ]:
x=[1,323,4534,234,453,5546,46,43,6,3,4,123,]
z=5546
m=0
for m in x:
 if (m==z):
   print("Jo number hai na vo hai", m,"position mai")
 m+=1                                                       # hm dusra no isliye lete hai taki hme jo no mmile vo index no ho na ki vhi no jisse hm dhund rhe hai

Jo number hai na vo hai 5546 position mai

In [ ]:
# print program to sum of all the numbers from 1 to any number

In [ ]:
n= int(input("enter a number"))
x=0
for i in range(1,n+1):
  x+=i
print(x)

enter a number5
15

In [ ]:
# Print sum of all numbers between range 10

In [ ]:
x=0
for i in range(1,10,2):
  x+=i
print(x)

25

In [ ]:
x=0
for i in range(20):
  if i%2!=0:
    x+=i
print(x)                         #for odd numbers sum with for loop and if

100

In [ ]:
#Print multiplication table of any number

In [ ]:
n= int(input("enter a number "))
for x in range (1,11):
  print(n*x)
  x+=1

enter a number 6
6
12
18
24
30
36
42
48
54
60

In [ ]:
n= int(input("enter a number "))
for x in range(1,11):
  print("table of ", n, "is ", n,"x",x,"=",n*x)
  x+=1

enter a number 6
table of  6 is  6 x 1 = 6
table of  6 is  6 x 2 = 12
table of  6 is  6 x 3 = 18
table of  6 is  6 x 4 = 24
table of  6 is  6 x 5 = 30
table of  6 is  6 x 6 = 36
table of  6 is  6 x 7 = 42
table of  6 is  6 x 8 = 48
table of  6 is  6 x 9 = 54
table of  6 is  6 x 10 = 60

In [ ]:
for i in range(11):
  print("5","x",i,"=",5*i)        #to show in a format of real table instead of just no's

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Display no's of list

In [ ]:
x=[23,123,24,34,34,23,4,3,4]
for x in x:
  print(x)

23
123
24
34
34
23
4
3
4

In [ ]:
#Count no of digits in a number

In [ ]:
x=324324324
x= str(x)
count=0
for i in x:
  count+=1
print(count)                               #we cannot iterate over an iteger means we cannot perform any for loop function on that  we convert that integer to string for count it's digit

9

In [ ]:
x = '113311'
z = ''
for i in x:
  z = i + z
if(x == z ):
     print("yhi hai ",x," palindrome")
else:
     print("ye nhi hai ",x," palindrome")

yhi hai  113311  palindrome

In [ ]:
x = "121"
z = ''
for i in x:
    z = i + z
if(x == z):
   print("yh hai bhai",x," palindrome")
else:
   print("ye nhi hai bhai ",x,"palindrome")

yh hai bhai 121  palindrome

In [ ]:
#Reverse the no

In [ ]:
x='232323'
z=''
for i in x:
  z=i+z
print(z)

323232

In [ ]:
#reverse the string

In [ ]:
shi = int(input("enter a number"))
shi = str(shi)
string_length = len(shi)
x = 0
for i in shi:
    x += int(i)**string_length
if x == int(shi):
    print("ha hai",shi," ek amstrong number.")
else:
    print("nhi ",shi," nhi hai  Amstrong number.")

enter a number153
ha hai 153  ek amstrong number.

In [ ]:
user_input = input()

digits = 0
letters = 0
for i in user_input:
    if i.isdigit():
        digits=digits+1
    elif i.isalpha():
        letters=letters+1

print(" The input string",user_input, "has", letters, "letters and", digits,"digits.")

"anil3","aman567"
 The input string "anil3","aman567" has 8 letters and 4 digits.

In [ ]:
x = input()

y = 0
z = 0
for i in x:
    if i.isdigit():
        y=y+1
    elif i.isalpha():
        z=z+1

print(" The input string",x, "has", z, "letters and", y,"digits.")

"anil3","aman567"
 The input string "anil3","aman567" has 8 letters and 4 digits.

In [ ]:
x= 5
c = 1
for i in range(1, x + 1):
    c = c * i
print("The factorial of ", x, " is ", c)

The factorial of  5  is  120

In [ ]:
i= int(input("enter a number "))
for x in range(2,i):
  if i % x == 0:
    print("This is not prime")
    break
else:
    print("This is prime")

enter a number 888257
This is prime

# **While loop**

In [ ]:
# While loop is a conftional loop that will repeat the instructions within itself as long as a condtiotional remains true,when condition got false it stops

In [ ]:
# General formula of while loop  while <logical expression>
#                                loop-body

In [ ]:
name= input("enter a name")
while name=="":
  print("You din't enter a name")
  name= input("enter a name : ")
  print(f'Hello  { name}')

enter a name
You din't enter a name
enter a name :
Hello
You din't enter a name
enter a name :
Hello
You din't enter a name
enter a name :
Hello
You din't enter a name
enter a name : Suman
Hello  Suman

In [ ]:
# iteration refers to repetation of a set of statement for a sequence of a values or as long as a condition is true

In [ ]:
z=0
while z<15:
    z+=2
    print(z)

In [ ]:
z=0
while z<15:
    print(z)
    z+=2

0
2
4
6
8
10
12
14

In [ ]:
  y=0
  while y<=10:
    print(y)
    y+=2

0
2
4
6
8
10

In [ ]:
  y=1
  while y<=10:
    print(y)
    y+=2

1
3
5
7
9

In [ ]:
x=1
y=0
while (x<=10):
  y=y+x
  x=x+1
print(y)

55

In [ ]:
n=int(input("enter a number "))
y=1
x=0
while (y<=n):
  y=y+x
  x=x+1
print(y)

enter a number 3
4

In [ ]:
x=1
while x<10:
  print(x)
  if x>5:
    break
  x+=1

1
2
3
4
5
6

In [ ]:
x=1
while x<10:
  x+=1
  if x==5:
   continue
  elif x==8:
    continue
  print(x)

In [ ]:
n=int(input("Enter a number"))
x= 1
for i in range(1, n+1):
 x=x * i
print(x)

Enter a number4
24

In [ ]:
i= int(input("enter a number "))
for x in range(2,i):
  if i % x == 0:
    print("This is not prime")
    break
else:
    print("This is prime")

enter a number 8
This is not prime

In [ ]:
num=int(input("enter a number"))
rev=0                             #rev 0 isliye le rhe hai taki vo no hi aaye agr 0 ke alawa kuch lenge to vo bhi add ho jayega
while(num>0):                    #while loop taki jb tk true hai tb tk code run kre uske baad end ho jaye
  rev= (rev*10)+num%10
  num=num//10
  print("reverse no is ", rev)

enter a number234
reverse no is  4
reverse no is  43
reverse no is  432

In [ ]:
n= int(input("enter a number"))
x=n
sum=0
while(n>0):
  sum=sum+(n%10)*(n%10)*(n%10)
  n=n//10
if x==sum:
   print("yes")
else:
   print("no")

enter a number153
yes

In [ ]:
n=int(input("enter a number"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

enter a number5
*
* *
* * *
* * * *
* * * * *

#**Nested loop**

In [ ]:
a = [1,2,3]
b = ["Google", "Meta", "Fujitsu"]
for x in a:
 for y in b:
  print(x, y)

1 Google
1 Meta
1 Fujitsu
2 Google
2 Meta
2 Fujitsu
3 Google
3 Meta
3 Fujitsu

# Def function